* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
}
@font-face {
    font-family: "AeonikM";
    src: url(font/AeonikPro-Medium.woff2);
}
@font-face {
    font-family: "Regular";
    src: url(font/Inter-Regular.woff2);
}
.fullLength {
  position: relative;
  z-index: 0;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  /* height: 100%; */
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 12px 20px;
  border-bottom: initial none #ebebf0;
}
.siteLogo{
    display: flex;
    align-items: center;
    /* margin-top: -2px; */
    height: 1.5rem;
    fill: white;
}
.menuBar{
    cursor: pointer;
}
.menuImg{
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-image: url(images/Menu.svg);
    background-color: rgb(255, 255, 255);
    filter: brightness(0) invert(1);
}
.main{
    position: relative;
}
.bgImg{
    position: relative;
    top: -56px;
    z-index: 1;
    margin-bottom: -56px;
    /* margin-top: 0px; */
    padding-top: 56px;
    overflow: hidden;
    min-height: 100vh;
}
.imgBlue{
    position: relative;
    padding-top: 56px;
    overflow: hidden;
    min-height: 100vh;
    z-index: -1;
    overflow: hidden;
    /* background: linear-gradient(rgb(76 138 204) 0%,rgb(57 145 216) 100%); */
}
.imageLink{
    color: transparent;
    transition: transform 0.3s cubic-bezier(0.35, 0, 0, 1);
    transform: translate(-50%, 0px) scale(1.75);
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    object-fit: cover;
    object-position: center bottom;
}
.ladyImg{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    transform-origin: 50% 100%;
    pointer-events: none;
    width: 1757.94px;
    height: 976.625px;
    display: block;
    min-height: 370px;
    min-width: 665px;
}
.textSurround{
    width: 100%;
    max-width: 1000px;
    padding: 32px 20px 24px 20px;
    margin: 0px auto;
}
.textFlex{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.textOne{
    font-size: 36px;
    font-weight: 500;
    font-family: "AeonikM";
    line-height: 1;
    color: #fff;
}
.textTwo{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: "AeonikM";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
}
.button{
    position: relative;
    height: auto;
    width: min-content;
    background-color: #191c1f;
    padding: 10px 24px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textBtn{
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    font-family: "AeonikM";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
}
.topImg{
    margin-top: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 3px solid #c9c9cd;
    border-radius: 21.8px;
}
.boxImg{
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.belowImg{
    position: relative;
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.flexCont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0px;
    margin: 0px 0px 0px 0px;                                           /*changed 16px from 3rd pos*/
}
.headTwo{
    font-size: 32px;
    font-family: "AeonikM";
    font-weight: 500;
    line-height: 1;
    text-align: start;
    white-space: pre-wrap;
}
.belowPara{
    font-family: "AeonikM";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: start;
}
.BtnTwo{
    margin-top: 16px;
    /* margin-bottom: 16px; */
}
.flexRow{
    display: flex;
    /* overflow: hidden;                       changed for hiding */
    /* width: 100%; */
    height: max-content;
    align-self: start;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* width: 232px;
    height: 327.378px; */
}
.flexRowTwo{
    /* position: absolute; */
    top: 0;
    left: 0;
    cursor: auto;
    transition: transform 350ms, opacity 350ms;
    z-index: -1;
    transform: translateX(0px) scale(1);;
    opacity: 1;
    position: relative;
    /* flex: 0 0 auto; 
    width: 232px;   
    height: 327.378px; */
}
.relPart{
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
    width: 232px;
    height: 327.378px;
}
.imageLinkTwo{
    color: transparent;
    transition: transform 0.3s cubic-bezier(0.35, 0, 0, 1);
    transform: translate(-50%, 0px) scale(1.75);
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform-origin: 50% 100%;
    object-fit: cover;
    object-position: center bottom;
}
.ladyImgTwo{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 100%;
    pointer-events: none;
    display: block;
    width: auto;
    height: 572.906px;
}
.topImgTWo{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 232px;
    height: 327.378px;
}
.boxImgTwo{
    inset: 0px;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 20px;
}
.flexRowThree{
    position: absolute;
    top: 0;
    left: 0;
    cursor: auto;
    transition: transform 350ms, opacity 350ms;
    z-index: 0;
    transform: matrix(0.9, 0, 0, 0.9, 236.4, 0);
    opacity: 1;
}
.secImgFlex{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    display: block;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 20px;
}
.threeDot{
    bottom: -4px;
    left: 50%;
    transform: translate(-50%,24px);
    position: absolute;
}
.dotList{
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 6px;
    align-items: center;
    justify-content: center;
}
.darkDot{
    list-style-type: none;
    opacity: 1;
    width: 8px;
    height: 8px;
}
.dotTed{
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 9999px;
    background-color: #8d969e;
    cursor: pointer;
}
.darkDot2{
    list-style-type: none;
    opacity: 0.7;
    width: 6px;
    height: 6px;
}
.belowDot{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 48px;
    margin-bottom: 48px;
    width: 100%;
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* margin: 0; */
}
.textJoin{
    font-family: "AeonikM";
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.24px;
    text-align: start;
    color: #505a63;
}
.fourFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 0px;
    padding: 0px;
}
.eachFlex{
    list-style-type: none;
    max-width: 146px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.eachFtwo{
    position: relative;
    padding: unset;
    margin: 0px;
    overflow: hidden;
}
.appleStoreimg{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: contain;
}
/* .arrangeImg{
    padding-bottom: 58.3906px;
} */
.imgText{
    font-family: "AeonikM";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    text-align: center;

}

.blackArea{
    position: relative;
    display: grid;
    grid-template-areas: "content" "media" "tabs";
    grid-template-rows: auto 1fr auto;
    height: 100%;
    min-height: 640px;
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: start;
    background-color: #000;
    width: 100%;
}
.blackText{
    display: flex;
    color: #f4f4f4;
    flex-direction: column;
    /* margin-bottom: 24px; */
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 16px;
}
.textEle{
    font-family: "AeonikM";
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    white-space: pre-wrap;
}
.flexWrite{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: "AeonikM";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
}
.smallWrite{
    font-family: "Regular";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.18px;
    margin: 0px;
}
.butWhite{
    margin-top: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: auto;
    width: min-content;
    padding: 10px 24px;
    background-color: #f4f4f4;
    color: #000;
    text-align: center;
    border-radius: 9999px;
}
.startEarn{
    font-family: "AeonikM";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    max-width: 100%;
    /* overflow: hidden; */
    white-space: nowrap;
    overflow-wrap: normal;
}
.videPrep{
    position: relative;
    /* left: 0px;
    right: 0px; */
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.relVide{
    position: relative;
    /* margin: 0px;
    padding: 0px; */
    width: 100%;
    height: 100%;
}
.videoPlay{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    object-fit: cover;
    backface-visibility: hidden;
}